@model CvStorage.Api.ViewModels.CvVm

@{
    ViewBag.Title = "AddPersonInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .IconTitle {
        border: 3px solid #e0e0e0;
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #269abc;
    }

    .row {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .form-control {
        width: 250px;
        text-align: center;
    }
</style>


<div class="jumbotron">
    <h1>CREATE CV</h1>
    <p class="lead">You can fill up the fields and create a CV here.</p>

    @*PROFILE INFO ICON AND HEADER*@
    <div style="margin-left: 35%; margin-top: 60px">
        <span class="IconTitle">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-left: 26px; margin-top: 23px; color: white;"></span>
        </span>
        <h3 style="margin-left: 15%; margin-top: -7%; margin-bottom: 90px;">Personal Info</h3>
    </div>
    @*PROFILE INFO ICON AND HEADER END*@

    @using (Html.BeginForm("AddPersonInfo", "Customer", FormMethod.Post))
    {
        <form>
            @Html.HiddenFor(m => m.Id)
            @*PROFILE INFO*@
            <h5 style="margin-left: 35px">Profile info</h5>
            <div class="row">
                <div class="col">
                    @Html.TextAreaFor(model => model.PersonInfo.ProfileInfo, new {@class = "form-control", type = "text", style = "margin-left: 50px; min-width: 940px", placeholder = "Profile info"})
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 style="margin-left: 50px">Firstname</h5>
                    @Html.TextBoxFor(model => model.PersonInfo.FirstName, new {@class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Firstname"})
                </div>
                <div class="col">
                    <h5 style="margin-left: 50px">Lastname</h5>
                    @Html.TextBoxFor(model => model.PersonInfo.LastName, new {@class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Lastname"})
                </div>
                <div class="col">
                    <h5 style="margin-left: 50px">Phone number</h5>
                    @Html.TextBoxFor(model => model.PersonInfo.PhoneNumber, new {@class = "form-control", type = "number", style = "margin-left: 50px; width: 350px", placeholder = "Phone number"})
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 style="margin-left: 50px">E-mail</h5>
                    @Html.TextBoxFor(model => model.PersonInfo.Email, new {@class = "form-control", type = "text", style = "margin-left: 50px; min-width: 610px", placeholder = "E-mail"})
                </div>
            </div>
            <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">
            @*PROFILE INFO END*@


            @*ADDRESS*@
            <h3 style="margin-left: 46%; margin-bottom: 50px; margin-top: 50px">Address</h3>
            <div class="row">
                <div class="col">
                    <h5 style="margin-left: 50px">Country</h5>
                    @Html.TextBoxFor(model => model.Address.Country, new {@class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Country"})
                </div>
                <div class="col">
                    <h5 style="margin-left: 50px">City</h5>
                    @Html.TextBoxFor(model => model.Address.City, new {@class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "City"})
                </div>
                <div class="col">
                    <h5 style="margin-left: 50px">Post code</h5>
                    @Html.TextBoxFor(model => model.Address.PostCode, new {@class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Post code"})
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 style="margin-left: 50px">Street</h5>
                    @Html.TextBoxFor(model => model.Address.Street, new {@class = "form-control", type = "text", style = "margin-left: 50px; min-width: 610px", placeholder = "Street"})
                </div>
                <div class="col">
                    <h5 style="margin-left: 50px">Street number</h5>
                    @Html.TextBoxFor(model => model.Address.StreetNumber, new {@class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Street number"})
                </div>
            </div>
            <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">
            @*ADDRESS END*@


            @*WORK EXPERIENCE*@
            @Html.Partial("~/Views/Partial/WorkExperienceList.cshtml", Model)
            <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">
            @*WORK EXPERIENCE END*@


            @*EDUCATION*@
            @Html.Partial("~/Views/Partial/EducationList.cshtml", Model)
            <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">
            @*EDUCATION END*@


            @*SKILLS*@
            @Html.Partial("~/Views/Partial/SkillList.cshtml", Model)
            <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">
            @*SKILLS END*@


            @*INTEREST*@
            @Html.Partial("~/Views/Partial/InterestList.cshtml", Model)
            <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">
            @*INTEREST END*@

            <button class="btn btn-primary btn-lg" style="margin-left: 45%; margin-bottom: -2%; margin-top: 5%" type="submit">Submit form</button>
        </form>
    }

</div>

<script type="text/javascript">
    $("#addEducation").click(
            function () {
                console.log('triggered');
                let count = $(".education-section").length;
                $("#education").append(
                    '<div class="education-section">' +
                        '<div class="row">' +
                            '<div class="col">' +
                                '<h5 style="margin-left: 50px">Name of Educational Institution</h5>' +
                    '<input class="form-control" id="EducationVmList_' + count + '__Name" name="EducationVmList[' + count +'].Name" placeholder="Name of Educational Institution" style="margin-left: 50px; width: 350px" type="text" value="">'+
                            '</div>' +
                            '<div class="col">' +
                                '<h5 style="margin-left: 50px">Faculty</h5>' +
                    '<input class="form-control" id="EducationVmList_' + count + '__Faculty" name="EducationVmList[' + count +'].Faculty" placeholder="Faculty" style="margin-left: 50px; width: 350px" type="text" value="">'+
                            '</div>' +
                            '<div class="col">' +
                                '<h5 style="margin-left: 50px">Study program</h5>' +
                    '<input class="form-control" id="EducationVmList_' + count + '__StudyProgram" name="EducationVmList[' + count +'].StudyProgram" placeholder="Study program" style="margin-left: 50px; width: 350px" type="text" value="">'+
                            '</div>' +
                        '</div>' +
                        '<div class="row">' +
                            '<div class="col">' +
                                '<h5 style="margin-left: 50px">Education level</h5>' +
                                '<input class="form-control" id="EducationVmList_' + count + '__EducationLevel" name="EducationVmList[' + count +'].EducationLevel" placeholder="Education level" style="margin-left: 50px; width: 350px" type="text" value="">'+
                            '</div>' +
                            '<div class="col">' +
                                '<h5 style="margin-left: 50px">Education status</h5>' +
                                '<input class="form-control" id="EducationVmList_' + count + '__EducationStatus" name="EducationVmList[' + count +'].EducationStatus" placeholder="Education status" style="margin-left: 50px; width: 350px" type="text" value="">'+
                            '</div>' +
                            '<div class="col">' +
                                '<h5 style="margin-left: 50px">Period in years</h5>' +
                                '<input class="form-control" id="EducationVmList_' + count + '__Period" name="EducationVmList[' + count +'].Period" placeholder="Period in years" style="margin-left: 50px; width: 350px" type="text" value="">'+
                            '</div>' +
                        '</div>' +
                    '</div>');
        });

    $("#addWorkExperience").click(
        function () {
            console.log('triggered');
            let count = $(".workExperience-section").length;
            $("#workExperience").append(
                '<div class="workExperience-section">' +
                    '<div class="row">' +
                        '<div class="col">' +
                            '<h5 style="margin-left: 50px">Company name</h5>' +
                            '<input class="form-control" id="WorkExperienceVmList_' + count + '__Name" name="WorkExperienceVmList[' + count + '].Name" placeholder="Company name" style="margin-left: 50px; min-width: 610px" type="text" value="">' +
                        '</div>' +
                        '<div class="col">' +
                            '<h5 style="margin-left: 50px">Position</h5>' +
                '<input class="form-control" id="WorkExperienceVmList_' + count + '__Position" name="WorkExperienceVmList[' + count + '].Position" placeholder="Position" style="margin-left: 50px; width: 350px" type="text" value="">' +
                        '</div>' +
                    '</div>' +
                '<div class="row">' +
                    '<div class="col">' +
                        '<h5 style="margin-left: 50px">Schedule</h5>' +
                '<input class="form-control" id="WorkExperienceVmList_' + count + '__Schedule" name="WorkExperienceVmList[' + count + '].Schedule" placeholder="Schedule" style="margin-left: 50px; width: 350px" type="text" value="">' +
                    '</div>' +
                    '<div class="col">' +
                        '<h5 style="margin-left: 50px">From date</h5>' +
                '<input class="form-control" id="WorkExperienceVmList_' + count + '__WorkStart" name="WorkExperienceVmList[' + count + '].WorkStart" placeholder="From date" style="margin-left: 50px; width: 350px" type="text" value="">' +
                    '</div>' +
                    '<div class="col">' +
                        '<h5 style="margin-left: 50px">To date</h5>' + 
                '<input class="form-control" id="WorkExperienceVmList_' + count + '__WorkFinished" name="WorkExperienceVmList[' + count + '].WorkFinished" placeholder="To date" style="margin-left: 50px; width: 350px" type="text" value="">' +
                '</div>' +
                '<div>' +
                    '<button class="remove" type="button">delete</button>'+
                '</div>' +
                '</div>' +
                '</div>');
        });
    $("body").on("click",
        ".remove",
        function (e) {
            console.log($(e.target).closest(".workExperience-section"));
            let workSection = $(e.target).closest(".workExperience-section");
            $(workSection).remove();
        });
    $("#addInterest").click(
        function () {
            console.log('triggered');
            let count = $(".interest-section").length;
            $("#interest").append(
                '<div class="interest-section">' +
                    '<div class="row">' +
                        '<div class="col">' +
                            '<h5 style="margin-left: 370px">Interest</h5>' +
                            '<input class="form-control" id="InterestVmList_' + count + '__Hobby" name="InterestVmList[' + count + '].Hobby" placeholder="Interest" style="margin-left: 370px; width: 350px" type="text" value="">' +
                        '</div>' +
                    '</div>' +
                '</div>');
        });

    $("#addSkill").click(
        function () {
            console.log('triggered');
            let count = $(".skill-section").length;
            $("#skill").append(
                '<div class="skill-section">' +
                    '<div class="row">' +
                        '<div class="col">' +
                            '<h5 style="margin-left: 50px">Skill</h5>' +
                            '<input class="form-control" id="SkillVmList_' + count + '__Name" name="SkillVmList[' + count + '].Name" placeholder="Skill" style="margin-left: 50px; width: 350px" type="text" value="">' +
                        '</div>' +
                        '<div class="col">' +
                            '<h5 style="margin-left: 50px">Achievement</h5>' +
                            '<input class="form-control" id="SkillVmList_' + count + '__Achievement" name="SkillVmList[' + count + '].Achievement" placeholder="Achievement" style="margin-left: 50px; width: 350px" type="text" value="">' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="col">' +
                            '<h5 style="margin-left: 50px">Description</h5>' +
                            '<input class="form-control" id="SkillVmList_' + count + '__Description" name="SkillVmList[' + count + '].Description" placeholder="Description" style="margin-left: 50px; min-width: 940px" type="text" value="">' +
                        '</div>' +
                    '</div>' +
                '</div>');
        });
</script>

