@model CvStorage.Api.ViewModels.CvVm


@{
    ViewBag.Title = "AddPersonInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .IconTitle {
        border: 3px solid #e0e0e0;
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #269abc;
    }

    .row {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .form-control {
        width: 250px;
        text-align: center;
    }
</style>


<div class="jumbotron">
    <h1>CREATE CV</h1>
    <p class="lead">You can fill up the fields and create a CV here.</p>

    @*PROFILE INFO ICON AND HEADER*@
    <div style="margin-left: 35%; margin-top: 60px">
        <span class="IconTitle">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-left: 26px; margin-top: 23px; color: white;"></span>
        </span>
        <h3 style="margin-left: 15%; margin-top: -7%; margin-bottom: 90px;">Personal Info</h3>
    </div>
    @*PROFILE INFO ICON AND HEADER END*@

    @using (Html.BeginForm("AddPersonInfo", "Customer", FormMethod.Post))
    {
<form>
    @*PROFILE INFO*@
    <h5 style="margin-left: 35px">Profile info</h5>
    <div class="row">
        <div class="col">
            @Html.TextAreaFor(model => model.PersonInfo.ProfileInfo, new { @class = "form-control", type = "text", style = "margin-left: 50px; min-width: 940px", placeholder = "Profile info" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Firstname</h5>
            @Html.TextBoxFor(model => model.PersonInfo.FirstName, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Firstname" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Lastname</h5>
            @Html.TextBoxFor(model => model.PersonInfo.LastName, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Lastname" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Phone number</h5>
            @Html.TextBoxFor(model => model.PersonInfo.PhoneNumber, new { @class = "form-control", type = "number", style = "margin-left: 50px; width: 350px", placeholder = "Phone number" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">E-mail</h5>
            @Html.TextBoxFor(model => model.PersonInfo.Email, new { @class = "form-control", type = "text", style = "margin-left: 50px; min-width: 610px", placeholder = "E-mail" })
        </div>
    </div>
    @*PROFILE INFO END*@

    <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">

    @*ADDRESS*@
    <h3 style="margin-left: 46%; margin-bottom: 50px; margin-top: 50px">Address</h3>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Country</h5>
            @Html.TextBoxFor(model => model.Address.Country, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Country" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">City</h5>
            @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "City" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Post code</h5>
            @Html.TextBoxFor(model => model.Address.PostCode, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Post code" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Street</h5>
            @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control", type = "text", style = "margin-left: 50px; min-width: 610px", placeholder = "Street" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Street number</h5>
            @Html.TextBoxFor(model => model.Address.StreetNumber, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Street number" })
        </div>
    </div>
    @*ADDRESS END*@
    <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">

    @*WORK EXPERIENCE*@

    <h3 style="margin-left: 46%; margin-bottom: 50px; margin-top: 50px">Work experience</h3>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Company name</h5>
            @Html.TextBoxFor(model => model.WorkExperience.Name, new { @class = "form-control", type = "text", style = "margin-left: 50px; min-width: 610px", placeholder = "Company name" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Position</h5>
            @Html.TextBoxFor(model => model.WorkExperience.Position, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Position" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Schedule</h5>
            @Html.TextBoxFor(model => model.WorkExperience.Schedule, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Schedule" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">From date</h5>
            @Html.TextBoxFor(model => model.WorkExperience.WorkStart, new { @class = "form-control", type = "date", style = "margin-left: 50px; width: 350px", placeholder = "From date" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">To date</h5>
            @Html.TextBoxFor(model => model.WorkExperience.WorkFinished, new { @class = "form-control", type = "date", style = "margin-left: 50px; width: 350px", placeholder = "To date" })
        </div>
    </div>

    <button class="btn btn-warning" style="margin-left: 46%; margin-bottom: -90px; margin-top: -3%; min-width: 60px" type="submit">Add</button>

    @*WORK EXPERIENCE END*@

    <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">

    @*EDUCATION*@

    <h3 style="margin-left: 46%; margin-bottom: 50px; margin-top: 50px">Education</h3>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Name of Educational Institution</h5>
            @Html.TextBoxFor(model => model.Education.Name, new { @class = "form-control", type = "text", style = "margin-left: 50px; min-width: 610px", placeholder = "Name of Educational Institution" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Faculty</h5>
            @Html.TextBoxFor(model => model.Education.Faculty, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Faculty" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Education level</h5>
            @Html.TextBoxFor(model => model.Education.EducationLevel, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Education level" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Study program</h5>
            @Html.TextBoxFor(model => model.Education.StudyProgram, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Study program" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Period in years</h5>
            @Html.TextBoxFor(model => model.Education.Period, new { @class = "form-control", type = "number", style = "margin-left: 50px; width: 350px", placeholder = "Period in years" })
        </div>
    </div>
    <button class="btn btn-warning" style="margin-left: 46%; margin-bottom: -90px; margin-top: -3%; min-width: 60px" type="submit">Add</button>

    @*EDUCATION END*@

    <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">

    @*SKILLS*@

    <h3 style="margin-left: 46%; margin-bottom: 50px; margin-top: 50px">Skill</h3>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Skill</h5>
            @Html.TextBoxFor(model => model.Skills.Name, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Skill" })
        </div>
        <div class="col">
            <h5 style="margin-left: 50px">Achievement</h5>
            @Html.TextBoxFor(model => model.Skills.Achievement, new { @class = "form-control", type = "text", style = "margin-left: 50px; width: 350px", placeholder = "Achievement" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 style="margin-left: 50px">Description</h5>
            @Html.TextAreaFor(model => model.Skills.Description, new { @class = "form-control", type = "text", style = "margin-left: 50px; min-width: 940px", placeholder = "Description" })
        </div>
    </div>
    <button class="btn btn-warning" style="margin-left: 46%; margin-bottom: -90px; margin-top: -3%; min-width: 60px" type="submit">Add</button>

    @*SKILLS END*@

    <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">

    @*INTEREST*@
    <h3 style="margin-left: 46%; margin-bottom: 50px; margin-top: 50px">Interest</h3>

    <div class="row">
        <div class="col">
            <h5 style="margin-left: 370px">Interest</h5>
            @Html.TextBoxFor(model => model.Interest.Hobby, new { @class = "form-control", type = "text", style = "margin-left: 370px; width: 350px", placeholder = "Interest" })
        </div>
        <div class="col">
            <button class="btn btn-warning" style="margin-left: 2%; margin-bottom: -57%; margin-top: 1%; min-width: 60px" type="submit">Add</button>
        </div>
    </div>
    @*INTEREST END*@

    <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba; margin-top: 80px">

    <button class="btn btn-primary btn-lg" style="margin-left: 45%; margin-bottom: -2%; margin-top: 5%" type="submit">Submit form</button>
</form>
    }

</div>