@using System.Web.Configuration
@model List<CvStorage.Api.ViewModels.CvVm>

@{
    ViewBag.Title = "GetCvList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>FIND CV</h1>
    <p class="lead">You can view, edit and delete your Cvs here.</p>

    <table class="table table-striped table-hover table-responsive table-condensed" style="margin-left: 90px; margin-top: 50px">
        <tr>
            <th>
                <h3 style="font-size: 25px">
                    <span style="font-weight: 500"> Name</span>
                </h3>
            </th>
            <th>
                <h3 style="font-size: 25px">
                    <span style="font-weight: 500">Email</span>
                </h3>
            </th>
            <th>
                <h3 style="font-size: 25px">
                    <span style="font-weight: 500">Created</span>
                </h3>
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-lg-2">
                    <span style="font-size: 15px;">@Html.DisplayFor(model => item.PersonInfo.FirstName) @Html.DisplayFor(model => item.PersonInfo.LastName)</span>
                </td>
                <td class="col-lg-2">
                    <span style="font-size: 15px;">@Html.DisplayFor(model => item.PersonInfo.Email)</span>
                </td>
                <td class="col-lg-1">
                    <span style="font-size: 15px; margin-left: 6px">@Html.DisplayFor(model => item.CreatedDateTime)</span>
                </td>
                <td class="col-lg-4">
                    <button type="button" style="margin-left: 5px" data-id="@item.Id" class="btn btn-secondary col-lg-2">
                        <span style="margin-right: 5px" class="glyphicon glyphicon-search"></span>
                    </button>

                    <button type="button" style="margin-left: 5px; background-color: royalblue" data-id="@item.Id" class="btn btn-primary col-lg-2 col-lg-offset-1">
                        <span style="margin-right: 5px" class="glyphicon glyphicon-pencil"></span>
                    </button>

                    @*DELETE MODAL BUTTON*@
                    <button style="margin-left: 5px" class="btn btn-warning col-lg-2 col-lg-offset-1" data-id="@item.Id" onclick="document.getElementById('id01').style.display = 'block'">
                        <span style="margin-right: 5px" class="glyphicon glyphicon-trash"></span>
                    </button>

                    <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display = 'none'" data-id="@item.Id" class="close" title="Close Modal">&times;</span>
                        <form class="modal-content" action="/action_page.php">
                            <div class="container">
                                <h1>Delete Cv</h1>
                                <p>Are you sure you want to delete your Cv?</p>

                                <div class="clearfix">


                                    <a onclick="document.getElementById('id01').style.display = 'none'" class="btn btn-close btn-lg" style="color: white; margin-bottom: 5px; background-color: royalblue">Cancel</a>


                                    @using (Html.BeginForm("DeleteCvById", "Customer", FormMethod.Post))
                                    {
                                        <button type="button" class="btn btn-delete btn-lg" style="margin-bottom: 5px; margin-left: 5px; background-color: darkorange; color: white" data-id="@item.Id">Delete</button>
                                    }

                                </div>
                            </div>
                        </form>
                    </div>

                </td>
            </tr>
        }

    </table>
    <script type="text/javascript">
        @*VIEW BUTTON*@
        $(document).ready(function() {
            $("body").on("click",
                ".btn-secondary",
                function(i) {
                    var id = $(i.target).data('id') == undefined ? $(i.target).parent().data('id') : $(i.target).data('id');

                    window.location = location.href = `@Url.Action("ViewCv", "Customer")?id=${id}`;
                });
        });

        @*DELETE BUTTON*@
        $(document).ready(function() {
            $("body").on("click",
                ".btn-delete",
                function(i) {
                    var id = $(i.target).data('id') == undefined ? $(i.target).parent().data('id') : $(i.target).data('id');

                    window.location = location.href = `@Url.Action("DeleteCvById", "Customer")?id=${id}`;
                });
        });

        @*EDIT BUTTON*@
        $(document).ready(function() {
            $("body").on("click",
                ".btn-primary",
                function(i) {
                    var id = $(i.target).data('id') == undefined ? $(i.target).parent().data('id') : $(i.target).data('id');

                    window.location = location.href = `@Url.Action("EditCv", "Customer")?id=${id}`;
                });
        });


        var modal = document.getElementById('id01'); 
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>