@using CvStorage.Core
@model CvStorage.Api.ViewModels.CvVm

@{
    ViewBag.Title = "AddPersonInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .IconTitle {
        border: 3px solid #e0e0e0;
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #269abc;
    }

    .row {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .form-control {
        width: 250px;
        text-align: center;
    }
</style>
@*PROFILE INFO*@
<div class="jumbotron">
    <div style="margin-left: 2%; margin-top: 20px">
        <div class="jumbotron">
            <span class="IconTitle">
                <span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-left: 26px; margin-top: 23px; color: white;"></span>
            </span>
            <h2 style="margin-left: 10%; margin-top: -6%; margin-bottom: 50px; color: #269abc">@Model.PersonInfo.FirstName @Model.PersonInfo.LastName </h2>
            <div>
                <text style="font-size: large">Profile info :</text> @Model.PersonInfo.ProfileInfo
            </div>

            <hr style="height: 2px; border-width: 0; color: #158cba; background-color: #158cba">

            <div>
                <text style="font-size: large">E-mail :</text><a href="mailto:@Model.PersonInfo.Email"> @Model.PersonInfo.Email</a>
                <text style="margin-left: 60px; font-size: large"> Phone :</text> @Model.PersonInfo.PhoneNumber
                <text style="margin-left: 60px; font-size: large"> Address :</text> @Model.Address.Country, @Model.Address.City, @Model.Address.Street
                <text style="margin-left: 60px; font-size: large"> Post code : </text> @Model.Address.PostCode
            </div>
        </div>
    </div>
    @*PROFILE INFO END*@

    @*EDUCATION*@
    <div style="margin-left: 2%; margin-top: 20px">
        <div class="jumbotron">
            <h2 style="margin-bottom: 30px; color: #269abc; margin-top: -1%">Education</h2>
            @foreach (var item in Model.EducationVmList)
            {
                <div><text style="font-size: x-large"> @item.Name </text>&nbsp;|&nbsp; <text style="font-size: large">@item.Faculty</text> &nbsp; | &nbsp; @item.StudyProgram &nbsp; | &nbsp; @item.EducationStatus &nbsp; | &nbsp; @item.Period year/s</div>
            }
        </div>
    </div>
    @*EDUCATION END*@

    @*WORK EXPERIENCE*@
    <div style="margin-left: 2%; margin-top: 20px">
        <div class="jumbotron">
            <h2 style="margin-bottom: 30px; color: #269abc; margin-top: -1%">Work experience</h2>
            @foreach (var item in Model.WorkExperienceVmList)
            {
                <div><text style="font-size: x-large">@item.Name</text> &nbsp; | &nbsp; <text style="font-size: large">@item.Position</text> &nbsp; | &nbsp; @item.Schedule &nbsp; | &nbsp; @item.WorkStart - @item.WorkFinished</div>
            }
        </div>
    </div>
    @*WORK EXPERIENCE END*@

    @*SKILLS AND INTERESTS*@
    <div style="margin-left: 2%; margin-top: 20px">
        <div class="jumbotron">
            <h2 style="margin-bottom: 30px; color: #269abc; margin-top: -1%">Skills</h2>
            @foreach (var item in Model.SkillVmList)
            {
                <div><text style="font-size: x-large">@item.Name</text> &nbsp; | &nbsp; <text style="font-size: large"> @item.Achievement </text> &nbsp; | &nbsp; @item.Description</div>
            }

            <hr style="height: 2px; border-width: 0; margin-bottom: 30px; color: #158cba; background-color: #158cba">

            <h2 style="margin-bottom: 30px; color: #269abc; margin-top: -1%">Interests </h2>
            @foreach (var item in Model.InterestVmList)
            {
                <span class="badge" style="width: 100px; height: 40px; margin-bottom: 5px">
                    <div style="margin-top: 10px">@item.Hobby</div>
                </span>
            }
        </div>
    </div>
    @*SKILLS AND INTERESTS END*@

    <div style="margin-left: 80%">
        <button class="btn btn-info btn-lg" style="color: white">
            @Html.ActionLink("Edit Cv", "EditCv", new {id = Model.Id})
        </button>
        <button class="btn btn-dark btn-lg">
            @Html.ActionLink("Back to List", "GetCvList", new {@class = "btn btn-primary"})
        </button>
    </div>
</div>